<!DOCTYPE html>
<html>
<head>
    <title>Cybersecurity Lab</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>🔐 Cybersecurity Lab</h1>

    <div class="card">
        <a href="/xss">XSS Simulation</a>
    </div>

    <div class="card">
        <a href="/sqli">SQL Injection Demo</a>
    </div>

    <div class="card">
        <a href="/password">Password Strength Checker</a>
    </div>

    <div class="card">
        <a href="/encryption">Encryption Visualizer</a>
    </div>
</body>
</html>